<header>
        <span id="header__logo">
            <a href="/">
                <i class="fas fa-map-marked-alt"></i>
                <%= title %>
            </a>
        </span>
       <span id=header__center>
           <span class="header__column"> <a href="/about">소개</a></span>
           <span class="header__column"><a href="/">코스 둘러보기</a></span>
           <span class="header__column"><a href="/newcourse">코스 만들기</a></span>
       </span>
        <span id="header__login">
            <% if(session.accountId) { %>
            <p><%= session.accountId %></p>
            <form action="/logout" method="get"><input type="submit" value="Log out"></form>
            <% }else{ %>
            <a href="./login">로그인</a>
            <% } %>
        </span>
</header>