<header>
    <div class="header__wrapper">
        <span class="header__column">
            <%= title %>
        </span>
        <span class="header__column">
           <a href="./test">테스트</a>
        </span>
        <span class="header__column">
            <a href="./test">테스트</a>
        </span>
        <span class="header__column">
            <a href="./test">테스트</a>
        </span>
    </div>
</header>