<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
    <%- include("./partials/panorama"); %>
  </head>
  <body>
    <%- include("./partials/header"); %>
    <div id="map"></div>
    <div id="pano"></div>
  </body>
</html>

