<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
   
  </head>
  <body>
    <%- include("./partials/header"); %>
    <div id="home__main">
        <div id="home__descript">추천코스</div>
        <div class="home__content">
            <a href="">
              <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Colosseum_in_Rome%2C_Italy_-_April_2007.jpg/270px-Colosseum_in_Rome%2C_Italy_-_April_2007.jpg" />
                <figcaption>이탈리아-로마에서의 하루</figcaption>
              </figure>
            </a>
         </div>
         <div class="home__content">
          <a href="">
            <figure>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR9nI7fjdknHdmJhmkbJbu7CN7KR2A23DQOA&usqp=CAU" />   
              <figcaption>서울과기대 탐방</figcaption>
            </figure>
          </a>
         </div>
         <div class="home__content">
            <a href="">
              <figure>
                <img src="https://img4.tmon.kr/cdn3/deals/2019/08/05/2308794154/original_2308794154_front_e2670_1564993604production.jpg"  />
                <figcaption>남산을 따라서: 서울구경</figcaption>
              </figure>
            </a>
         </div>
    </div>
    <%- include("./partials/footer"); %>
  </body>
</html>

