<!DOCTYPE html>
<html>
  <head>
    <title>Overlays Within Street View</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVG49ILM-LzB5si_emdSYTz4Sejsiknpw&callback=initialize&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        left: calc(20% + 20px);
        bottom: 20px;
        height: 300px;
        width: 300px;
        z-index: 2;
      }
      #sidetab {
        float: left;
        height: 100%;
        width: 20%;
      }
      #pano {
        float: left;
        height: 100%;
        width: 80%;
      }
    </style>
    <script>
      var p, m;
      function initialize() {
        const fenway = { lat: 42.345573, lng: -71.098326 };

        const map = new google.maps.Map(document.getElementById("map"), {
          center: fenway,
          zoom: 14,
        });
        // Set up the markers on the map
        // const cafeMarker = new google.maps.Marker({
        //   position: { lat: 40.730031, lng: -73.991428 },
        //   map,
        //   icon:
        //     "https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=cafe|FFFF00",
        //   title: "Cafe",
        // });
        // const bankMarker = new google.maps.Marker({
        //   position: { lat: 40.729681, lng: -73.991138 },
        //   map,
        //   icon:
        //     "https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=dollar|FFFF00",
        //   title: "Bank",
        // });
        // const busMarker = new google.maps.Marker({
        //   position: { lat: 40.729559, lng: -73.990741 },
        //   map,
        //   icon:
        //     "https://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=bus|FFFF00",
        //   title: "Bus Stop",
        // });
        // We get the map's default panorama and set up some defaults.
        // Note that we don't yet set it visible.
        const panorama = new google.maps.StreetViewPanorama(
          document.getElementById("pano"),
          {
            position: fenway,
            pov: {
              heading: 34,
              pitch: 10,
            },
          }
        )
        map.setStreetView(panorama);
        m = map
        p = panorama

      }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <div id="sidetab"></div>
    <div id="pano"></div>

  </body>
</html>